.idea/
.vscode/
*.log
.DS_Store
/node_modules
**/oh_modules
/local.properties
**/build/**
!**/build/**/
!entry/build/default/outputs/default/entry-default-signed.hap
/.hvigor
**/.cxx
**/.test
/.appanalyzer
/.clangd
recordings/
